.button-bar
  %ul.button-group
    %li= link_to "Refresh", refresh_feeds_path, class: 'a button success'

  -#%ul.button-group
  -#  %li= link_to "Mark All as Read", mark_all_as_read_feeds_path, method: :put, class: 'a button secondary'