// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header {
  h1 { font-size:  2em; }
  margin-bottom: 1em;
  #user-nav {
    padding: 1em 0 0 1em;
    text-align: right;
  }
}

.feed {
  .title {
    font-weight: normal;
    font-size:  1em;
  }
}

.feed-item {
  border-bottom:  1px dashed black;

  .title { font-size:  1.5em; }
  &:first-child .title { margin-top: 0 }
}

footer {
  margin-top: 2em;
}

.pagination {
  margin-top: 1em;
}

.subscribe.button {
  padding: 5px;
}