// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  h1 {
    font-size: 2em;
  }
  margin-bottom: 1em;
  #user-nav {
    padding: 1em 0 0 1em;
    text-align: right;
  }
}

.feed {
  .title {
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 1em;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .options {
    text-align: right;
    a.delete {
      color: red;
    }
  }
}

.feed-item {
  border-bottom: 1px dashed black;

  .feed-header {
    margin: 0.5em 0 0.5em 0;
    line-height: 1.3em;
  }

  .star {
    color: #aaa;
    display: inline-block;
    width: 2em;

    &.active {
      font-weight: bold;
      color: deeppink;
    }
  }

  .title {
    padding-left: 0;
    font-weight: bold;
    font-size: 1em;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    cursor: hand;
    cursor: pointer;
  }

  &.read .title {
    font-weight: normal !important;
    font-style: italic;
  }

  .date {
    color: #666;
    padding-right: 0;
    text-align: right;
  }

  .feed-body {
    display: none;
  }
}

footer {
  margin: 2em 0;
  .designed {
    text-align: right;
  }
}

.pagination {
  margin-top: 1em;
}

.subscribe.button {
  padding: 5px;
  font-size: 0.8em;
}